body, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

#main {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background: #fff url(./bg.png) 0 0 no-repeat;
    background-size: cover;
}

.container div {
    float:left;
    margin: 1px;
    width: 38px;
    height: 38px;
    opacity: 0.6;
    border-radius: 4px;
    box-shadow: rgb(201, 20, 198) 1px 1px;
    border-width: 0 2px 2px 0;
    border-color: rgb(200, 0, 140);
}

.winner {
    display:none;
}

.win .winner {
    display: block;
    padding-top: 80px;
    font-size: 40px;
    font-family: Monaco;
    color: #C48;
    text-align: center;
    -webkit-animation-name: fontcolor;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
}

@-webkit-keyframes fontcolor {
    0% { color: #EEE; font-size: 10px;}
    /*40% { color: #F5A9F8; font-size: 24px;}*/
    70% { color: #C84985; font-size: 44px;}
}

.restart {
    margin: 100px auto;
    display: block;
    width: 120px;
    height: 46px;
    color: #EEE;
    font-family: Monaco;
    font-size: 24px;
    border-radius: 8px;
    background-color: #A7C;
    border-width: 0 2px 2px 0;
    border-color: #85A;
}

.restart:hover {
    background-color: #C9F;
}

.one {
    background-color: #C6F;
}

.pass {
    background-color: #F69;
    -webkit-animation-name: bg-color;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes bg-color {
    0% { background-color: #EEE;}
    50% { background-color: #E54988}
}

.me {
    background-color: #F42;
}


